@font-face {
  font-family: fontAverage;
  src: url(average-regular.ttf);
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	/*font-family: Copperplate Gothic,fontAverage;*/
	font-family: "Segoe UI",Arial,sans-serif;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

td
{
	border: 1px solid black;
	text-align: center;
}

a{
	color: #0d0d0d;
	text-decoration: none;
}

.displayNone{
	display: none;
}

.noSelect{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.falseLink{
	cursor: not-allowed;
}

.headerFont{
	font-family: Copperplate Gothic,fontAverage;
}

body{
	min-height: 100vh;
	width: 100%;
	background-image: url(img/background.png);
	background-size: cover;
	background-repeat: no-repeat;
}

header{
	height: 40px;
	background-color: #4d4d4d;
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
}

#homeButton{
	background-color: white;
	height: 30px;
	width: 30px;
	margin-left: 5px;
}

#headerLinkContainer{
	display: flex;
	justify-content: center;
}

.headerLink{
	color: white !important;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 25px;
}

#showHeaderLinksButton{
	background-color: white;
	height: 30px;
	width: 30px;
	display: none;
	cursor: pointer;
}

#filterButton{
	background-color: white;
	height: 30px;
	width: 30px;
	margin-right: 5px;
	cursor: pointer;
}

#secretHeader{
	position: absolute;
	background-color: rgba(77, 77, 77, 0.7);
	width: 100%;
}

.secretHeaderLink{
	font-weight: bold;
	color: white;
	font-size: 68px;
	width: 100%;
	display: block;
	text-align: center;
	padding-top: 18px;
	padding-bottom: 18px;
	border-bottom: 1px solid black;
	text-shadow:
       1px 1px 0 black,
     -1px -1px 0 black,  
      1px -1px 0 black,
      -1px 1px 0 black,
       1px 1px 0 black;
}

.secretHeaderLink:hover{
	background-color: green;
	background-color: rgba(26, 26, 26, 0.8);
}

#content{
	width: 100%;
	min-height: calc(90vh - 40px);
}

footer{
	background-color: #4d4d4d;
	height: 10vh;
	color: white;
	font-weight: bold;
	padding-top: 15px;
}

#copyright{
	width: 100%;
	text-align: center;
	font-size: 16px;
}

#sourcesButton{
	background-color: white;
	height: 30px;
	width: 30px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: right;
	cursor: pointer;
}

h1{
	width: 100%;
	margin-top: 60px;
	text-align: center;
	font-size: 240px;
	color: #262626;
	text-shadow:
       3px 6px 0 #d9d9d9,
     -1px -1px 0 #d9d9d9,  
      1px -1px 0 #d9d9d9,
      -1px 1px 0 #d9d9d9,
       1px 1px 0 #d9d9d9;
}

h2{
	width: 100%;
	line-height: 440px;
	text-align: center;
	font-size: 140px;
	color: #262626;
	text-shadow:
       1px 3px 0 #d9d9d9,
     -1px -1px 0 #d9d9d9,  
      1px -1px 0 #d9d9d9,
      -1px 1px 0 #d9d9d9,
       1px 1px 0 #d9d9d9;
}

h3{
	width: 100%;
	line-height: 42px;
	text-align: center;
	font-size: 20px;
	color: #262626;
	text-shadow:
       1px 1px 0 #d9d9d9,
     -1px -1px 0 #d9d9d9,  
      1px -1px 0 #d9d9d9,
      -1px 1px 0 #d9d9d9,
       1px 1px 0 #d9d9d9;
}

h4{
	width: 1100px;
	margin: 30px auto;
	text-align: center;
	font-size: 30px;
	color: #262626;
	text-shadow:
       1px 1px 0 #d9d9d9,
     -1px -1px 0 #d9d9d9,  
      1px -1px 0 #d9d9d9,
      -1px 1px 0 #d9d9d9,
       1px 1px 0 #d9d9d9;
}

h5{
	font-size: 21px;
}

h6{

}

#homeInfo{
	width: 70%;
	margin: 30px auto;
	text-align: center;
	font-size: 30px;
	color: #262626;
	text-shadow:
       1px 1px 0 #d9d9d9,
     -1px -1px 0 #d9d9d9,  
      1px -1px 0 #d9d9d9,
      -1px 1px 0 #d9d9d9,
       1px 1px 0 #d9d9d9;
}

#homeLinksContainer{
	width: 70%;
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
	margin: 80px auto;
}

.homeLink div{
	font-weight: bold;
	font-size: 31px;
	line-height: 240px;
	color: white;
	height: 260px;
	width: 260px;
	background-color: white;
	text-align: center;
	text-shadow:
       1px 1px 0 black,
     -1px -1px 0 black,  
      1px -1px 0 black,
      -1px 1px 0 black,
       1px 1px 0 black;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#homeMystery{
	background-image: url(img/lurkingCat.png);
	background-size: 250% 180%;
	background-repeat: no-repeat;
	background-position: 48% 90%;
}

#homeEmotion{
	background-image: url(img/emotion.png);
	background-size: 180% 120%;
	background-repeat: no-repeat;
	background-position: 50% 80%;
}

#homeIndustrial{
	background-image: url(img/industrial.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 46% 50%;
}

.currentPageDisplay{
	height: 500px;
	border-bottom: 20px solid #4d4d4d;
	background-repeat: no-repeat;
}

#currentPageEmotion{
	background-image: url(img/emotion.png);
	background-size: cover;
	background-position: 50% 30%;
}

.previousPageDisplay{
	height: 50px;
	border-bottom: 10px solid #4d4d4d;
	background-repeat: no-repeat;
}

#previousPageEmotion{
	background-image: url(img/emotion.png);
	background-size: cover;
	background-position: 50% 47%;
}

.layer1Container{
	background-color: rgba(77, 77, 77, 0.6);
	width: 1100px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 22px;
	padding-right: 22px;
	margin: 0px auto 40px;
	display: flex;
	justify-content: space-between;
}

.layer1Container .layer1Text{
	width: 60%;
	font-size: 16px;
}

.layer1Image{
	width: 39%;
	height: 186px;
	background-repeat: no-repeat;
	overflow: hidden;
}

.moreLinksH{
	width: 1100px;
	margin: 0px auto;
}

.layer1LinksContainer{
	width: 1100px;
	padding-top: 5px;
	margin: 20px auto 50px;
}

.layer1LinksContainer div{
	display: inline-block;
	font-weight: bold;
	font-size: 26px;
	line-height: 210px;
	color: white;
	height: 220px;
	width: 220px;
	background-color: white;
	text-align: center;
	margin-right: 50px;
	text-shadow:
       1px 1px 0 black,
     -1px -1px 0 black,  
      1px -1px 0 black,
      -1px 1px 0 black,
       1px 1px 0 black;
    box-shadow: 7px 7px 2px 0px rgba(0,0,0,0.75);
}

#layer1Calm{
	background-image: url(img/calm.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#layer1Depression{
	background-image: url(img/emotion.png);
	background-size: 180% 120%;
	background-repeat: no-repeat;
	background-position: 50% 80%;
}















@media (min-width: 1160px) {
	#secretHeader{
		display: none;
	}
}

@media (max-width: 1160px) {
	header{
		height: 160px;
		background-color: #4d4d4d;
		display: flex;
		justify-content: space-between;
		padding-top: 10px;
	}

	#homeButton{
		height: 140px;
		width: 140px;
		margin-left: 10px;
	}

	.headerLink{
		display: none;
	}

	#filterButton{
		height: 140px;
		width: 140px;
		margin-right: 10px;
	}

	#showHeaderLinksButton{
		display: block;
		height: 140px;
		width: 140px;
	}

	#copyright{
		font-size: 23px;
	}

	#homeLinksContainer{
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}

	.homeLink div{
		height: 700px;
		width: 700px;
		margin: 0px auto 25px;
		font-size: 70px;
		line-height: 680px;
		text-shadow:
	       3px 3px 0 black,
	     -1px -1px 0 black,  
	      1px -1px 0 black,
	      -1px 1px 0 black,
	       1px 1px 0 black;
	    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
}