body{
	background-color: #515A65;
}

#mobileBlocker{
	height: 150vh;
	width: 100%;
	background-color: #515A65;
	color: #FBA92D;
	padding: 50px;
	text-align: center;
	position: fixed;
	display: block;
}

@media (orientation:landscape) {

	#mobileBlocker {
		display: none;
	}

}

#mobileBlocker h2{
	font-size: 50px;
	margin-bottom: 60px;
}

#mobileBlocker h3{
	font-size: 40px;
}

header{
	background-color: #515A65;
	height: 11vh;
	width: 100%;
	position: fixed;
	display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.headerItem{
	font-size: 2vw;
	font-weight: bold;
	margin-left: 1.5vw;
	margin-right: 1.5vw;
	margin-bottom: 4px;
	color: #D29E50 !important;
}

.headerItem:hover{
	color: #FBA92D !important;
}

.headerItem:first-child{
	border-left: 1px solid #D29E50;
	padding-left: 1.5vw;
}

.headerItem:last-child{
	border-right: 1px solid #D29E50;
	padding-right: 1.5vw;
}

.selected{
	color: #FBA92D !important;
	text-decoration: underline;
}

a{
	color: #FBA92D !important;
}

.content{
	width: 100%;
	min-height: calc(100vh - 9vw);
	padding-top: 10vh;
	background-image: url(img/forestpath.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	overflow: hidden;
}

footer{
	background-color: #515A65;
	border-top: 3vh solid #515A65;
	width: 100%;
	height: 19vw;
	background-image: url(img/cityNight.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0%;
	text-align: center;
}

footer a{
	display: block;
	font-size: 0.8vw;
	font-weight: bold;
	margin: 14.89vw auto;
	background-color: #515A65;
	width: 4vw;
	padding-top: 0.3vh;
	padding-bottom: 0.3vh;
}

h1{
	color: #FBA92D;
	font-size: 2.6vw;
	padding-left: 0.4vw;
}

h2{
	color: #D29E50;
	font-size: 1.9vw;
	border-bottom: 1px solid #D29E50;
	margin-bottom: 0.8vh;
}

h3{
	color: #D29E50;
	font-weight: normal;
	font-size: 1.2vw;
	margin-bottom: 1.4vh;
}

.grayTransparentBox{
	background-color: rgba(81, 90, 101, 0.85);
	padding: 1vh;
}

.grayTransparentBoxBorderLines{
	height: 100%;
	border-left: 1px solid #D29E50;
	border-right: 1px solid #D29E50;
	padding-left: 2vh;
	padding-right: 2vh;
}

#homeContent{
	height: 45vw;
	min-height: 45vw;
	max-height: 56vw;
}

#homeBox{
	float: left;
	width: 55%;
	height: 32vw;
	margin-top: 6vh;
	margin-left: 6vw;
	margin-bottom: 6vh;
}

#antHomeImage{
	width: 25.644vw;
	/*height: 96.051vh;*/
	height: 47.294vw;
	background-image: url(img/ant.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	float: right;
	margin-top: 5vh;
	margin-right: 9vw;
	bottom: 0px;
}

#programmingBox{
	margin: 5vh auto;
	width: 80%;
	display: 0px;
	padding-bottom: 3vh;
}

#programmingBox h2{
	text-align: center;
}

#programmingBox h3{
	text-align: justify;
	width: 80%;
}

#gastlyContainer{
	margin-left: 72vw;
    padding-top: 6vh;
}

#designBox{
	margin: 7vh auto;
	width: 80%;
	display: 0px;
	padding-bottom: 3vh;
}

#designBox h2{
	text-align: center;
}

#designBox h3{
	text-align: justify;
}

#designTalkContainer{
	
}

#brainBoi{
	width: 22vw;
	height: 18vw;
	background-image: url(img/brainboi.gif);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	float: right;
}

.graphContainer{
	background-color: #e3e5e8;
	width: 90%;
	height: auto;
	margin: 1vh auto;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
	margin-bottom: 2vh;
}

.graph{
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
}

.graph span{
	display: inline-block;
}

.graphTitle{
	font-size: 1.3vw;
	padding-right: 0.5vw;
	text-align: right;
	width: 22%;
}

.graphBalkHolder{
	width: 67%;
	height: 1.5vw;
	padding-top: 0.8vh;
}

.graphBalk{
	height: 100%;
	border: 1px solid #515A65;
}

.graphBalkYellow{
	background-color: #D29E50;
}

.graphBalkPink{
	background-color: #e26365;
}

.graphPercentage{
	font-size: 1.3vw;
	text-align: left;
}

#portfolioBox{
	text-align: center;
	width: 40%;
	margin: 2vh auto;
}

#newTabBox{
	width: 70%;
	margin-bottom: 6vh;
	margin-left: 6vw;
	margin-top: 14vh;
	text-align: justify;
	padding-left: 1vw;
	padding-right: 2vw;
}

#newTabLeftText{
    width: 19vw;
    height: 55vh;
    display: inline-block;
}

#newTabImage{
	width: 70vw;
    height: 70vh;
    background-image: url(img/newtab.png);
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-left: 20vw;
    margin-top: -70vh;
    display: inline-block;
}

#newTabBox h3{
	width: 100%;
	display: block;
}

#legoshopBox{
	width: 80%;
    margin: 14vh auto;
    text-align: justify;
    padding-left: 1vw;
    padding-right: 2vw;
    height: 80vh;
}

#legoshopImage{
	width: 50vw;
    height: 86vh;
    background-image: url(img/legoshop.png);
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-left: -9vw;
    margin-top: -5vh;
    display: inline-block;
}

#legoRightText{
	float: right;
	width: 33.5vw;
}

#animeShowdownBox{
	width: 85vw;
	margin: 0vh auto;
	padding-bottom: 18vh;
}

#animeshowdownText{
	width: 38vw;
	padding-left: 1vw;
}

#animeShowdownImageContainer{
	margin-top: -68vh;
	float: right;
}

#animeshowdownImage1{
	width: 45vw;
    height: 45vh;
    background-image: url(img/animeshowdown1.png);
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-bottom: 5vh;
}

#animeshowdownImage2{
	width: 45vw;
    height: 45vh;
    background-image: url(img/animeshowdown2.png);
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#animeshowdownCard{
	width: 24vw;
    height: 58vh;
    background-image: url(img/animeshowdownCard.png);
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-top: -11vw;
    margin-left: 13vw;
}

#youtubeIframe{
	margin-left: 7vw;
	margin-top: 7vh;
	display: inline-block;
	width: 29vw;
    height: 33vh;
}

#antmationBox{
	width: 52vw;
    margin-left: 43vw;
    margin-top: -25vw;
    height: 17vw;
    margin-bottom: 4vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

#antmationImage{
	width: 22vw;
    height: 22vw;
    background-image: url(img/antmation.png);
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    float: right;
    margin-bottom: 5vh;
}

#contactBox{
	width: 75vw;
	margin: 20vh auto;
}

#procesBox{
	width: 90%;
	margin: 5vh auto;
	text-align: center;
}

#procesBox .grayTransparentBoxBorderLines{
	padding-bottom: 3vh;
}

#procesBox h3{
	text-align: justify;
    width: 78%;
    margin: 0px auto 1.4vh;
}

#papierImage{
	width: 31vw;
    height: 30vw;
    background-image: url(img/papier.png);
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0vh auto 1vh;
}

#wireframeImage{
	width: 41vw;
    height: 30vw;
    background-image: url(img/wireframe.png);
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0vh auto 1vh;
}